/* Custom CSS for Directory Page Mapper */

.breadcrumbs {
    padding: 10px;
}

.file-entries {
    background-color: var(--wp--preset--color--base);
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.file-entry {
    margin: 20px;
    padding: 10px;
    border: solid 1px var(--wp--preset--color--base-2);
    background-color: var(--wp--preset--color--white);
    font-size: 1.2em;
    text-align: center;
    padding: 3em;
}

.file-icon,
.directory-icon {
    text-align: center;
}

.file-icon i,
.directory-icon i {
    font-size: 3em;
    border: solid 2px var(--wp--preset--color--base);
    border-radius: 50%;
    padding: 20px;
    background-color: var(--wp--preset--color--base);
}

.directory-icon i {
    border-color: var(--wp--preset--color--accent-3);
}

.file-name {
    font-size: small;
    text-align: center;
}

.file-size {
    display: inline;
}

.pdf-info {
    font-size: x-small;
}
